# ==================== Основное ====================
.env
.env.*
!.env.example

# ==================== Зависимости ====================
/node_modules
/vendor

# ==================== Composer Cache ====================
.composer/

# ==================== Laravel ====================
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
/storage/*.key
/storage/pail

# ==================== Vite / Vue ====================
/public/build/assets/*.U
/public/build/.vite
/public/hot
/public/build/manifest.json.bak
/public/build/*.hot-update.*

# ==================== Сборка и публичные файлы ====================
/public/storage
/public/hot

# ==================== IDE и редакторы ====================
.DS_Store
/.idea
/.vscode
/.fleet
/.nova
/.zed
.phpactor.json
.phpunit.result.cache
/.phpunit.cache

# ==================== Логи ====================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==================== Разное ====================
Homestead.json
Homestead.yaml
Thumbs.db
public_html